@charset "utf-8";

:root{
--cor0: #6E82C9;
--cor1: #4B61B3;
}

body{
    background-color: var(--cor0);
}
main{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;

    background-color: #fff;
    
    max-width: 800px;
    min-width: 600px;
    margin: auto;
    
    padding: 15px;

    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
}

h1{
    color: var(--cor1);
    margin-top: 2px;

    text-align: center;
}

h2{
    background-color: var(--cor1);
    color: #fff;

    border-radius:10px 10px 0 0;
    padding: 5px;
    margin-bottom: 0;

    text-align: center;
}
span{
    display: block;
}
<<<<<<< HEAD
input, button, label,a{
=======
input,button, label{
>>>>>>> 5c541d9d20f7e87d2d04f16ec276a27cda72d537
    width: 50%;
    display: block;

	padding: 6px;
	margin: auto;
	
    box-sizing: border-box;
	border-color: #D9EDF7;
	border-radius: 4px;
<<<<<<< HEAD

    margin-top: 10px;
}
div.g-recaptcha{
    width: 302px;
    margin: auto;

    margin-top: 10px;
=======
>>>>>>> 5c541d9d20f7e87d2d04f16ec276a27cda72d537
}
.botao{
	background-color: var(--cor1);
	color: #FFFEFA;

    text-decoration: none;
    
    width: 20%;
    margin-top: 5px;
    padding: 8px 15px;
<<<<<<< HEAD

    text-align: center;
=======
>>>>>>> 5c541d9d20f7e87d2d04f16ec276a27cda72d537
}
ul li{
    color: var(--cor1);
}
main>div{
    padding: 10px 15px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}